#nav--main {
	min-height: 60px;
	text-align: center;
	background-color: rgba(255,255,255,.2);
	padding: 8px 0 0;
	@media(min-width: $screen-lg){
		padding:0 0 3px 0;
	}
}



#navbarToggler {
	width: 100%;
	clear: both;
	&>ul {
		padding-left: 15px;
	}
}

// Navbar brand
.navbar-light .navbar-brand {
	padding-left: 15px;
	color: #fff;
	transition:color .4s;
	&:hover {
		color: #525252;
	}
}

// Nav links color setup
.navbar-light .navbar-nav .nav-link {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-size: 16px;
	background-position:left center;
	color: $color-nav-links;
	transition: all .4s;
	&.home-link {
		background-image: url('../img/header/nav-icons/home.png');
		background-position: left 45%;
	}
	&.video-link {
		background-image: url('../img/header/nav-icons/video.png');
	}
	&.shop-link {
		background-image: url('../img/header/nav-icons/cart.png');
	}
	&.active,
	&:focus,
	&:hover {
		color: #fff;
	}
}

.nav-item:not(:first-child) {
	@media(min-width: $screen-lg) {
		padding-left: 15px;
	}
}

.header__arrows {
	width: 16px;
	@include abs-centered(horizontal);
	bottom: 4%;
}